* {
    margin: 0;
    padding: 0;
}

main{
    width: 50%;
    margin: 50px auto;
    text-align: center;
}

.fahrenheit  {
    margin: 30px auto;
    background-color: rgb(184, 166, 201);
}

.celsius {
    margin: 30px auto;
    background-color: rgb(192, 177, 206);
}